@using Microsoft.AspNetCore.Identity
@using projetoTP3_A2.Models

@{
    string actionInicial = "Index";

    if (User.IsInRole("Medico"))
    {
        actionInicial = "MedicoHome";
    }
    else if (User.IsInRole("Farmaceutico"))
    {
        actionInicial = "FarmaceuticoHome";
    }
    else if (User.IsInRole("Paciente"))
    {
        actionInicial = "PacienteHome";
    }
}

<div class="sidebar-container p-3">
    <ul class="nav flex-column sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="@actionInicial">
                <i class="bi bi-house-door-fill bi-icon"></i>
                <span>Início</span>
            </a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Prescricao" asp-action="Index">
                    <i class="bi bi-file-medical-fill bi-icon"></i>
                    <span>Prescrições</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Administrador") || User.IsInRole("Medico"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Medico" asp-action="Pacientes">
                    <i class="bi bi-people-fill bi-icon"></i>
                    <span>Pacientes</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Administrador") || User.IsInRole("Medico") || User.IsInRole("Farmaceutico"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Medicamento" asp-action="Index">
                    <i class="bi bi-capsule bi-icon"></i>
                    <span>Medicamentos</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Administrador") || User.IsInRole("Medico"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Patologia" asp-action="Index">
                    <i class="bi bi-heart-pulse-fill bi-icon"></i>
                    <span>Patologias</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Administrador") || User.IsInRole("Medico"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Alergia" asp-action="Index">
                    <i class="bi bi-exclamation-triangle-fill bi-icon"></i>
                    <span>Alergias</span>
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" asp-controller="Farmacia" asp-action="Index">
                <i class="bi bi-shop bi-icon"></i>
                <span>Farmácias</span>
            </a>
        </li>
    </ul>
</div>